name: core-build-nuget

on: 
    workflow_dispatch:
    push:
        branches:
         - km/fix_file_path

jobs:
  build-core-nuget-amd64:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/core-environment.yaml
    with:
      REGISTRY: ghcr.io
      WORKFLOW_AGENT: ubuntu-latest
      ARCHITECTURE: amd64
    secrets:
      GIT_HUB_USER_NAME: ${{ secrets.GIT_HUB_USER_NAME }}
      GIT_HUB_USER_TOKEN: ${{ secrets.GIT_HUB_USER_TOKEN }}
      SETUP_REPO_URL: ${{ secrets.SETUP_REPO_URL }}

  build-core-nuget-arm64:
    permissions:
      contents: read
      packages: write

    uses: ./.github/workflows/core-environment.yaml
    with:
      REGISTRY: ghcr.io
      WORKFLOW_AGENT: spacesdk-ubuntu-2204LTS-arm64
      ARCHITECTURE: arm64
    secrets:
      GIT_HUB_USER_NAME: ${{ secrets.GIT_HUB_USER_NAME }}
      GIT_HUB_USER_TOKEN: ${{ secrets.GIT_HUB_USER_TOKEN }}
      SETUP_REPO_URL: ${{ secrets.SETUP_REPO_URL }}